/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* css variables */
:root{
    --navvar-height:59px;

}

/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

 #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
 }


/* Navigation bar: logo and image */
#logo{
margin: 10px 34px;
}

#logo img{
height: 59px;
margin: 3px 6px;
}

/* Navigation Bar; list styling */

#navbar ul{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;    
}



#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 415px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg.webp') no-repeat center center/cover;
    height: 70%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
    color: white;
    text-align: center;
}

#home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.5rem;

}
/* service section */
#service .box1 .box2 .box3{
    border: 2px solid brown;
    margin: 34px;
    display: flex;
}
#service{
    display: flex;
    align-items: center;
}
#service p{
    text-align: center;
}
#service.box1.box2.box3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.box1{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
.box2{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
.box3{
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
.box1 img{
    height: 222px;
    margin: auto;
    display: block;
}
.box2 img{
    height: 222px;
    margin: auto;
    display: block;
}
.box3 img{
    height: 222px;
    margin: auto;
    display: block;
}

/* clients section */
#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg.jpg.webp') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;

    }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;
}

/* contect section */
#contect{
    position: relative;
}
#contect::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
     width: 100%;
     padding: 0.5rem;
     border-radius: 9px;
     font-size: 1.1rem;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: black;
    color: red;
    padding: 9px 20px;
}

/* utility classes */
.h-primary{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.8rem;
    padding: 12px;
}


.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn:hover{
    color:  green;
    background-color: darkgray;
}

.center{
    text-align: center;
}
